@import "../components/publication-card/publication-cards.component";
@import "../trending/trending.component.scss";

.container {
  .section {
    margin-bottom: 1rem;
    .heading {
      font-size: 30px;
      margin-bottom: 5px;
    }

    #publication {
      height: 18rem;
    }
    #creators {
      height: 14rem;
    }
    .tags {
      display: flex;
    }

    .author {
      width: 12rem;
      height: 13.5rem;
      border-radius: 1rem;
      margin-right: 2.5rem;
      box-shadow: 0 2px 5px #ccc;

      .profile {
        border-radius: inherit;

        .cover {
          border-radius: inherit;
          width: 100%;
          height: 10rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover;
          background-position: center;
          
          .main {
            width: 7.5rem;
            height: 7.5rem;
            border-radius: 5rem;
            background-size: cover;
            background-position: center;
          }
        }
      }

      .name {
        text-align: center;
        font-size: 20px;
        color: #2b2b2b;
      }

      .followers {
        text-align: center;
        font-size: 15px;
        color: #6a6a6a;
      }
    }
  }
}
