@import "../../../scheme";

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
  }

  .info {
    min-width: 20rem;

    .thumbnail {
      width: 100%;
      height: 11rem;
      border-radius: 0.8rem;
      background-size: cover;
      margin-bottom: 0.8rem;
    }

    .title {
      font-size: 1.4rem;
      color: color(heading);
      text-align: center;
    }

    .description {
      margin-bottom: 1rem;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
