<ng-container *ngIf="!isObjEmpty(collection); else Laoding">
  <div class="container">
    <div class="posts">
      <author-card
        [card]="post"
        *ngFor="let post of collection.posts"
      ></author-card>
    </div>
    <div class="info">
      <div
        class="thumbnail"
        [ngStyle]="{ 'background-image': 'url(' + collection.thumbnail + ')' }"
      ></div>
      <div class="title">{{ collection.title }}</div>
      <div class="description">{{ collection.description }}</div>
      <div class="tags">
        <tag
          [tag]="tag"
          *ngFor="let tag of collection.tags"
          style="margin-right: 0.5rem;"
        ></tag>
      </div>
      <div class="dates">
        <div class="date">
          Created on: {{ getDate(collection.dateCreated) }}
        </div>
        <div
          class="date"
          *ngIf="collection.dateCreated !== collection.dateUpdated"
        >
          Last Updated: {{ getDate(collection.dateUpdated) }}
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #Laoding>
  Loading...
</ng-template>
