@import "../../../vars";
@import "../../../scheme";
@import "../../components/global/author-card/author-cards.component";

.container {
  .section {
    margin-bottom: 1rem;

    .heading {
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 5px;
    }
  }
}
