.menu {
  width: 15rem;
  border-radius: 0.5rem;
  background: rgb(248, 248, 248);
  box-shadow: 0 2px 5px #ccc;
  transition: all 0.3s;

  .item {
    width: calc(100% - 2rem);
    display: flex;
    cursor: pointer;
    padding: 0.5rem 1rem 0 1rem;
    transition: all 0.2s;

    &:hover {
      background: rgb(226, 226, 226);
    }

    .option {
      margin-left: 1rem;
    }
  }

  #first {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  #last {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
