.tag {
  background: #e6e6e6;
  border-radius: 25px;
  display: inline-flex;
  padding: 3px 10px 3px 3px;
  cursor: pointer;

  .icon {
    height: 24px;
    margin-right: 4px;
    padding: 0 1px 1px 4px;
  }
  .text {
    font-weight: 700;
  }
}
