.container {
  border-radius: 50rem;
  width: 8rem;
  height: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2.5rem;
  cursor: pointer;
}
