<div class="container">
  <ng-container *ngIf="trending; else loading">
    <!-- Popular Tags -->
    <div class="section">
      <div class="heading">Popular tags</div>
      <div class="tags">
        <tag *ngFor="let tag of trending.tags" [tag]="tag"></tag>
      </div>
    </div>
    <div class="section" *ngFor="let category of trending.categories">
      <div class="heading">{{ category.name }}</div>
      <div class="cards">
        <author-card
          *ngFor="let card of category.posts"
          [card]="card"
        ></author-card>
      </div>
    </div>
    <!-- Author on Rise -->
    <div class="section">
      <div class="heading">Author on rise</div>
      <div class="creator">
        <img
          class="coverImg"
          [src]="trending.creators[0].data.coverImg"
          alt=""
        />
        <a [routerLink]="['/author', trending.creators[0]._id]" class="profile">
          <img
            class="profileImg"
            [src]="trending.creators[0].data.profileImg"
          />
          <div class="name">{{ trending.creators[0].data.name }}</div>
        </a>
        <div class="cards">
          <div
            class="card"
            *ngFor="let card of trending.creators[0].data.posts.featuredPosts"
          >
            <div
              class="thumbnail"
              [ngStyle]="{
                'background-image': 'url(' + card.thumbnail + ')'
              }"
            ></div>
            <div class="info">
              <div class="title">{{ card.title }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    Loading...
  </ng-template>
</div>
