@import "../../../scheme";

.container {
  .section {
    margin-bottom: 1.5rem;

    .heading {
      font-weight: 800;
      font-size: 30px;
      margin-bottom: 0.7rem;
    }
    .tags {
      position: relative;

      tag {
        margin-right: 1rem;
      }
    }
    .creator {
      padding: 1rem 1.5rem 0.5rem 1.5rem;
      border-radius: 1rem;
      display: flex;
      z-index: 10;
      position: relative;

      img.coverImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        border-radius: inherit;
        filter: blur(5px);
      }

      .profile {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0.6rem;

        img.profileImg {
          height: 12rem;
          width: 12rem;
          border-radius: 10rem;
          object-fit: cover;
        }

        .name {
          color: #000;
          font-size: 1.3rem;
          margin-top: 0.5rem;
          font-weight: 800;
        }
      }

      .cards {
        display: flex;

        .card {
          width: 25rem;
          height: 14rem;
          margin: 0 1rem;
          position: relative;
          transition: all 0.3s;
          cursor: pointer;

          .thumbnail {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            background-position: center;
            background-size: cover;
            position: absolute;
            transition: all 0.3s;
          }

          .info {
            opacity: 0;
            pointer-events: all;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            display: flex;
            transition: all 0.3s;

            .title {
              color: #fff;
              font-size: 1.2rem;
              font-weight: 700;
            }
          }

          &:hover {
            .info {
              opacity: 1;
            }
            .thumbnail {
              filter: brightness(35%);
            }
          }
        }
      }
    }
  }
}
