@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Baloo Paaji 2";
}

body,
html {
  margin: 0;
  padding: 0;
}

h1 {
  //   all: unset;
  line-height: 2.5rem;
  
}
