@import "../../components/global/publication-card/publication-cards.component";
@import "../trending/trending.component.scss";

.container {
  .section {
    margin-bottom: 1.5rem;

    .heading {
      font-size: 30px;
      margin-bottom: 5px;
    }

    #publication {
      height: 18rem;
    }
    #creators {
      height: 14rem;
    }
    .tags {
      display: flex;
    }

    .author {
      width: 12rem;
      height: 13.5rem;
      border-radius: 1rem;
      margin-right: 2.5rem;
      box-shadow: 0 2px 5px #ccc;

      .profile {
        border-radius: inherit;
        position: relative;

        .cover {
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 9.5rem;
          border-radius: inherit;
          object-fit: cover;
          filter: blur(5px);
        }

        .main {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          height: 9.5rem;

          img {
            width: 7.5rem;
            height: 7.5rem;
            border-radius: 5rem;
            object-fit: cover;
            z-index: 10;
          }
        }
      }

      .name {
        margin-top: 9.8rem;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        color: #2b2b2b;
      }

      .followers {
        text-align: center;
        font-size: 15px;
        color: #6a6a6a;
      }
    }
  }
}
