@import "../vars";
@import "../scheme";

app-topbar {
  position: fixed;
  top: 0;
  left: $sidebar-width;
  width: calc(100% - #{$sidebar-width});
}

context-menu {
  position: fixed;
  top: 0;
  left: -2000rem;
  z-index: 100000;
  opacity: 0;
  transition: opacity 0.1s;
}

.container {
  position: fixed;
  top: $topbar-height;
  left: $sidebar-width;
  width: calc(100% - 7.5rem);
  height: calc(100% - 4rem);
  overflow-y: auto;
  padding: 1.5rem 3rem 0.5rem 3rem;
}
