@import "../vars";
@import "../scheme";

app-topbar {
  position: fixed;
  top: 0;
  left: $sidebar-width;
  width: 100%;
}

.container {
  position: fixed;
  top: $topbar-height;
  left: $sidebar-width;
  width: calc(100% - #{$sidebar-width} - 6rem);
  height: calc(100% - #{$topbar-height} - 5rem);
  overflow-y: auto;
  padding: 2.5rem 3rem;
}
