.tag {
  position: absolute;
  bottom: 2.6rem;
  right: 15px;
  background: #e6e6e6;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 2px 9px 0 0;
  cursor: pointer;

  .icon {
    height: 24px;
    margin-right: 4px;
    padding: 0 1px 1px 4px;
  }
}
