.container {
  margin-top: -1.5rem;
  margin-left: -3rem;
  width: calc(100% + 6rem);
  justify-content: space-around;
  padding: 3rem 5rem;
  position: relative;
  border-radius: 0 0 1.5rem 1.5rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(10px);
    border-radius: inherit;
    user-select: none;
    -webkit-user-drag: none;
  }

  .profile {
    display: flex;
    align-items: center;
    width: 50%;

    .profileImg {
      width: 13rem;
      height: 13rem;
      border-radius: 100%;
      background-size: cover;
      background-position: center;
      margin-right: 2rem;
    }
    .info {
      width: 60%;

      .name {
        font-weight: 800;
        font-size: 30px;
      }
    }
  }
  .other-info {
    position: absolute;
    top: 0;
    right: 5rem;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .info {
      .stats {
        display: flex;
        justify-content: center;
        padding: 0.7rem 0;
        border-radius: 1rem;
        background: #ffffffd3;

        .stats-category {
          display: flex;
        }
        .stat {
          display: flex;
          align-items: center;

          .data {
            display: flex;
            flex-direction: column;
            align-items: center;

            .name {
              color: #5d5d5d;
              font-size: 1.2rem;
            }
            .count {
              font-size: 1.2rem;
            }
          }

          .divider {
            height: 60%;
            width: 2px;
            background-color: #707070;
            margin: 0 1.5rem;
          }
        }
      }
      .memberOf {
        color: #414141;
        margin: 2rem 0;
        font-size: 1.1rem;

        .member {
          display: inline;
          a {
            color: inherit;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
          .comma {
            display: inline;
          }
        }
      }
      .social-links {
        .link {
          display: inline-block;
          margin-right: 0.5rem;

          a {
            div {
              width: 1.6rem;
              height: 1.6rem;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}
