<div class="container">
  <div class="category" *ngFor="let category of categories; let i = index">
    <div class="heading">
      <div
        class="text"
        id="category-{{ i }}"
        (keydown.enter)="save(i)"
        (keydown.shift.Enter)="save(i)"
        (dblclick)="editCategoryName(i)"
        (blur)="save(i)"
        title="Change section name"
      >
        {{ category.name }}
      </div>
      <div
        class="icon"
        *ngIf="isLoggedinUser(id)"
        (click)="editCategoryName(i)"
      ></div>
    </div>
    <div class="cards">
      <author-card
        [card]="post"
        *ngFor="let post of category.posts"
      ></author-card>
    </div>
  </div>
</div>
