.container {
  .routes {
    width: 100%;
    display: flex;
    justify-content: center;

    a {
      margin: 0 1rem;
      color: #777777;
      text-decoration: none;
      font-size: 1.1rem;

      &.active {
        color: #000;
      }
    }
  }
}
