@import "../../../vars";
@import "../../../scheme";

.container {
  position: absolute;
  top: 0;
  left: 0;
  background: color(bar);
  width: $sidebar-width;
  height: 100vh;
  box-shadow: 2px 3px 16px #00000024;
  transition: height 0s; // Setting to 0 so that on window resize it do not feel bad
  z-index: -1;

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $topbar-height;
    font-size: 2.2rem;
    color: #575757;
  }

  .menu {
    .item {
      display: flex;
      align-items: center;
      padding: 0.6rem 2rem;
      border-radius: 0 25px 25px 0;
      color: #000;
      text-decoration: none;
      cursor: pointer;

      .icon {
        display: flex;
        margin: -2px 17px 0 8px;
      }

      .title {
        font-weight: 700;
        font-size: 1.3rem;
        margin-top: -3px;
      }

      &#home {
        .icon {
          margin-right: 10px;
          margin-left: 3px;
        }
      }

      &:hover {
        background: rgb(231, 231, 231);
      }
      &.active {
        background: #e3e3e3;
      }
    }
  }
}
