@import "../../components/author-card/author-cards.component";

.container {
  .category {
    margin-bottom: 1.5rem;
    .heading {
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      .text {
        font-size: 1.8rem;
        outline: none;
        line-height: 0;
        transition: all 0.3s;
        padding: 20px 5px;
        padding-left: 0;

        &:focus {
          padding: 20px 5px;
          border: 3px solid #000;
          color: #3f3f3f;
          border-radius: 8px;
        }
      }
      .icon {
        background-image: url(../../../assets/img/pencil.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 25px;
        height: 25px;
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
