@import "../../../vars";
@import "../../../scheme";

.container {
  background: color(bar);
  width: 100%;
  height: $topbar-height;
  box-shadow: 12px 3px 16px #00000024;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;

  button {
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-right: 2rem;
    border-radius: 5rem;
    background: rgba(0, 128, 128, 0.9);
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      background: rgb(0, 114, 114);
    }
    &.disabled {
      background: rgb(0, 114, 114);
      cursor: default;
    }
  }

  .profile {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    border-radius: 5rem;
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: cover;
  }
}
