@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");

* {
  font-family: "Baloo bhai";
}

body {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
