@import "../../vars";
@import "../../scheme";
@import "../../components/cards";

.container {
  .section {
      margin-bottom: 1rem;
    .heading {
      font-size: 30px;
      margin-bottom: 5px;
    }
    .cards {
      .card {
        margin-bottom: 0;
      }
    }
  }
}
